/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  /* font family*/
  --ff: "Rubik", sans-serif;
  /*font size */
  --fs-small: 0.65rem;
  --fs-normal: 1rem;
  --fs-large: 2rem;
  /* font weight */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  /* border -radius */
  --br: 0.5rem;
  /* padding */
  --pd: 2rem;
}

html {
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--fs-large);
}

.wrapper {
  min-height: 100vh;
}

.container {
  min-height: 18rem;
  position: relative;
  background-image: url(../src/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--pd);
}
@media screen and (min-width: 75em) {
  .container {
    min-height: 15rem;
  }
}

.search-bar {
  justify-content: center;
  margin: auto 0;
  margin-bottom: 2rem;
}
.search-bar input[type=search] {
  border: none;
  outline: none;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
  padding: 1rem;
}
@media screen and (min-width: 31.25em) {
  .search-bar input[type=search] {
    width: 30rem;
  }
}
.search-bar input[type=search]::placeholder {
  opacity: 0;
}
@media screen and (min-width: 31.25em) {
  .search-bar input[type=search]::placeholder {
    opacity: 1;
  }
}
.search-bar__btn {
  background-color: black;
  border: none;
  padding: 1rem;
  position: relative;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

.ip-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: white;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: var(--br);
}
@media screen and (min-width: 31.25em) {
  .ip-info {
    margin: 0 auto;
    justify-content: center;
    width: 70%;
  }
}
@media screen and (min-width: 75em) {
  .ip-info {
    flex-direction: row;
  }
}
.ip-info .ip-info__title {
  font-size: var(--fs-small);
  color: var(--dark-gray);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}
@media screen and (min-width: 75em) {
  .ip-info .ip-info__title {
    text-align: left;
  }
}
.ip-info .ip-info__data {
  word-break: break-all;
}
@media screen and (min-width: 75em) {
  .ip-info .ip-info__data {
    text-align: left;
  }
}

ul {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 75em) {
  ul {
    width: 25%;
    border-right: 1px solid black;
    margin-left: 1rem;
  }
}

.ip-info > ul:last-child {
  margin: none;
  border: none;
}

.ip-info__data {
  font-weight: var(--fw-bold);
}

main {
  height: calc(100vh - 18rem);
  width: 100vw;
}

.main__map {
  width: 100%;
  height: 100%;
}

.disabled ::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.5;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

footer {
  color: black;
  width: 100%;
  justify-content: center;
  display: flex;
}

.attribution {
  font-size: 18px;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */