@use "./mixins"as *;
@use "./root"as *;

.container-wrapper {
    min-height: 100vh;
}

.container {
    background-image: url(../src/images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-info {

    @include for-mobile-view() {
        gap: 1rem;
        flex-direction: column;
    }

    padding: 2rem;
    color: var(--very-dark-gray);
    background-color: #ffffff;
    position: relative;
    transform: translateY(50%);
    z-index: 100;
}

.container-map {
    width: 100%;
    height: 70vh;
}

input[type="search"] {
    @include for-desktop-view() {
        width: 500px;
    }


    @include for-mobile-view() {
        &::placeholder {
            opacity: 0;
        }

        flex-grow: 2;
    }

    &::placeholder {
        font-family: var(--ff);
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

button.search {
    background-color: var(--very-dark-gray);
    border: none;
    padding: 1rem;
}

.vertical-line {
    @include for-desktop-view() {
        display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 3.5em;
    }
}