:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    /* font family*/
    --ff: 'Rubik', sans-serif;
}

html {
    font-family: 'Rubik', sans-serif;
}

body {
    color: #ffffff;
}